$mainColor : #e3a51e;
$black : #333333;
$black2 : #666666;
$borderColor: #e5e5e5;
$inputColor: #f2f2f2;
$cream: #fcedda;
$creamGreen: #f2fbcb;
$pink: #f7d8f9;
$footerColor1: #f0f0f0;
$footerColor2: #e4e4e4;