@import "..//assets/mixin.scss";
@import "..//assets/colors.scss";

#carusel {
    .wrapper {
        .custom-container {
            .owl-carousel {
                position: relative;

                #item {
                    position: relative;

                    .image {
                        width: 100%;

                        img {
                            width: 100%;
                            height: 470px;
                            @media (max-width:1007px) {
                                height: 400px;
                            }
                            @media (max-width:640px) {
                                height: 350px;
                            }
                        }
                    }

                    .info {
                        position: absolute;
                        top: 25%;
                        left: 10%;

                        .type {
                            p {
                                font-size: 18px;
                                color: #fff;
                                font-weight: 500;
                                line-height: 1.3;
                                margin: 0;
                            }
                        }

                        .title {
                            h2 {
                                font-size: 50px;
                                color: #fff;
                                line-height: 1.4;
                                font-weight: 600;
                                margin: 0;

                                @media (max-width:1007px) {
                                    font-size: 35px;
                                }
                                @media (max-width:640px) {
                                    font-size: 25px;
                                }
                            }
                        }

                        .desc {
                            p {
                                font-size: 16px;
                                color: #fff;
                                line-height: 1.7;
                                margin: 0;
                            }
                        }

                        .cus-btn {
                            button {
                                background-color: #fff;
                                color: $black;
                                border: 0;
                                padding: 18px 44px;
                                border-radius: 50px;
                                text-transform: uppercase;
                                margin: 32px 0 0 0;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 1;
                                outline: none;
                                transition: 300ms all ease-in;

                                &:hover {
                                    background-color: $black;
                                    color: $mainColor;
                                }
                            }
                        }
                        @media (max-width:640px) {
                            top: 15%;
                        }
                    }
                }

                .owl-nav {
                    width: 100%;
                    @include flex(center, space-between);
                    position: absolute;
                    top: 40%;
                    opacity: 0;
                    transition: 300ms all ease-in;

                    .owl-prev {
                        background-color: #fff;
                        margin-left: 15px;
                        width: 46px;
                        height: 46px;
                        @include flex(center, center);
                        border-radius: 0;
                        transition: 300ms all ease-in;

                        span {
                            font-size: 40px;
                            border-radius: 0;
                        }

                        &:hover {
                            background-color: $mainColor;
                            color: #fff;
                        }
                    }


                    .owl-next {
                        background-color: #fff;
                        margin-right: 15px;
                        width: 46px;
                        height: 46px;
                        @include flex(center, center);
                        border-radius: 0;
                        transition: 300ms all ease-in;

                        span {
                            font-size: 40px;
                            border-radius: 0;
                        }

                        &:hover {
                            background-color: $mainColor;
                            color: #fff;
                        }
                    }
                    @media (max-width:1007px) {
                        display: none;
                    }
                }

                &:hover {
                    .owl-nav {
                        opacity: 1;
                    }
                }

                .owl-dots {
                    display: none;

                    @media (max-width:1007px) {
                        display: block;
                        position: absolute;
                        bottom: 10px;
                        left: 40%;

                        .owl-dot {
                            span {
                                width: 30px;
                                height: 6px;
                                background-color: #fff;
                            }
                        }
                        .active{
                            span{
                                background-color: $mainColor;
                            }
                        }
                    }
                    @media (max-width:640px) {
                        display: none;
                    }
                }
            }
        }
    }
}