@import "..//assets/mixin.scss";
@import "..//assets/colors.scss";

//Back To Top Start 
.backtotop {
    position: fixed;
    right: 20px;
    bottom: 50px;
    height: 40px;
    width: 40px;
    background-color: $mainColor;
    color: #fff;
    text-align: center;
    z-index: 999;
    border: 0;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(100px);
    transition: 300ms all ease-in;
}

.backtotop-activ {
    opacity: 1;
    transform: translateY(0);
}

//Back To Top End


.offcanvas-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999;
    display: none;
    cursor: url(https://htmldemo.net/juan/juan/assets/img/icon/cancel.png), auto;
}

.offcanvas-overlay-activ {
    display: block;
}

.baskets {
    position: sticky;
    top: 0;
    z-index: 999900;
    // width: 0;
    transform: translateX(450px);
    overflow: hidden;
    transition: 300ms all ease-in;

    .baskets-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
        background-color: #fff;
        width: 375px;
        height: 100vh;
        padding: 50px 20px 0 20px;

        >.cancel {
            button {
                border: 0;
                background-color: $mainColor;
                color: #fff;
                width: 50px;
                height: 50px;
                position: absolute;
                top: 0;
                left: -50px;

                i {
                    transition: 300ms all ease-in;
                }

                &:hover {
                    i {
                        transform: rotate(180deg);
                    }
                }

                @keyframes identifier {
                    to {
                        transform: rotate(0);
                    }

                    from {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        .products {
            height: 45vh;
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .product {
                @include flex(null, space-between);
                gap: 10px;
                padding: 20px 0;
                border-bottom: 1px solid $borderColor;

                .image {
                    width: 83px;
                    height: 89px;
                    border: 1px solid $borderColor;

                    a {
                        img {
                            width: 100%;
                            height: 100%;
                            // object-fit: fill;
                        }
                    }
                }

                .about {
                    @include flex(null, space-between, column);

                    .title {
                        a {
                            color: $black;
                            font-weight: 500;
                            font-size: 14px;
                            text-decoration: none;
                            text-transform: capitalize;
                            transition: 300ms all ease-in;

                            &:hover {
                                color: $mainColor;
                            }
                        }
                    }

                    .price {
                        @include flex();
                        // gap: 5px;

                        p {
                            margin: 0;
                            font-size: 14px;
                        }

                        .product-price {
                            color: $mainColor;
                        }
                    }
                }

                .cancel {
                    @include flex();

                    button {
                        border: 0;
                        background-color: transparent;
                        color: $black;
                        transition: 300ms all ease-in;

                        &:hover {
                            color: $mainColor;
                        }
                    }
                }
            }
        }

        .products-total-price {
            padding: 15px 0 20px 0;
            border-bottom: 1px solid $borderColor;

            ul {
                padding: 0;
                margin: 0;
                gap: 5px;

                li {
                    @include flex(center, space-between);
                    font-size: 14px;
                    color: $black2;

                    p {
                        color: $mainColor;
                    }
                }
            }
        }

        .buttons {
            padding: 20px 0;

            ul {
                padding: 0;
                margin: 0;

                a {
                    text-decoration: none;

                    li {
                        padding: 17px 0;
                        background-color: $black;
                        border: 0;
                        margin: 0 0 10px 0;
                        border-radius: 30px;
                        color: #fff;
                        text-align: center;
                        font-size: 13px;
                        transition: 300ms all ease-in;

                        &:hover {
                            background-color: $mainColor;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:1007px) {
        display: none;
    }
}

.basket-activ {
    transform: translateX(0);
    overflow: visible;
}

.offcanvas-overlay-menubar {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99;
    display: none;
    cursor: url(https://htmldemo.net/juan/juan/assets/img/icon/cancel.png), auto;
}

.offcanvas-overlay-menubar-activ {
    display: block;
}

header {

    #first {
        .wrapper {
            background-color: $mainColor;

            .custom-container {
                @include flex(center, space-between);
                padding: 13px 0;

                div {
                    p {
                        font-size: 14px;
                        color: #fff;
                        line-height: 1;
                        margin: 0;
                    }

                    ul {
                        @include flex();
                        margin: 0;

                        li {
                            padding: 0 20px 0 0;

                            a {
                                text-decoration: none;
                                color: #fff;
                                font-size: 14px;

                                i {
                                    margin-left: 2px;
                                }
                            }
                        }

                        > :first-child {
                            border-right: 1px solid #fff;
                            padding: 0 20px 0 0;
                            position: relative;

                            .dropdown {
                                transition: 300ms all linear;
                                opacity: 0;
                                visibility: hidden;
                                background-color: #fff;
                                width: 150px;
                                height: 97.2px;
                                border: 1px solid $borderColor;
                                position: absolute;
                                right: 15px;
                                transform: translateY(20px);
                                z-index: 1;

                                ul {
                                    display: block;
                                    padding: 0;
                                    padding: 15px 15px 20px;

                                    li {
                                        border: 0;
                                        padding: 0;

                                        a {
                                            color: $black2;
                                            font-size: 13px;
                                            transition: 300ms all ease-in;
                                        }

                                        :hover {
                                            color: $mainColor;
                                        }
                                    }
                                }
                            }
                        }

                        :hover {
                            .dropdown {
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0);
                            }
                        }

                        >:last-child {
                            padding: 0 20px;

                            .dropdown {
                                transition: 300ms all linear;
                                opacity: 0;
                                visibility: hidden;
                                background-color: #fff;
                                width: 150px;
                                height: 97.2px;
                                border: 1px solid $borderColor;
                                position: absolute;
                                right: 165px;
                                transform: translateY(20px);
                                z-index: 1;

                                ul {
                                    display: block;
                                    padding: 0;
                                    padding: 15px 15px 20px;

                                    li {
                                        border: 0;
                                        padding: 0;

                                        a {
                                            color: $black2;
                                            font-size: 13px;
                                            transition: 300ms all ease-in;
                                        }

                                        :hover {
                                            color: $mainColor;
                                        }
                                    }
                                }
                            }
                        }

                        :hover {
                            .dropdown {
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }
        }

        @media (max-width:1007px) {
            display: none;
        }
    }

    #second {
        padding: 0;
        transition: 300ms all ease-in;

        .wrapper {
            position: relative;
            background-color: #fff;
            transition: 300ms all ease-in;

            .custom-container {
                @include flex(center, space-between);

                .navication {
                    nav {
                        ul {
                            @include flex(center);
                            margin-bottom: 0;

                            li {
                                margin-left: 25px;
                                position: static;

                                a {
                                    text-decoration: none;
                                    color: $black;
                                    font-size: 16px;
                                    font-weight: 500;
                                    transition: 300ms all ease-in;

                                    i {
                                        font-size: 12px;
                                        text-align: center;
                                        margin-left: 5px;
                                        padding: 52px 0;
                                    }
                                }

                                .dropdown {
                                    // padding: 30px 70px 30px 0;
                                    padding: 15px 0;
                                    // width: max-content;
                                    width: 220px;
                                    position: absolute;
                                    border: 1px solid $borderColor;
                                    @include flex(center, start);
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: 300ms all ease-in;
                                    transform: translateY(20px);
                                    z-index: 2;
                                    background-color: #fff;

                                    ul {
                                        @include flex(flex-start);
                                        flex-direction: column;
                                        padding: 0;
                                        width: 100%;

                                        li {
                                            margin: 0;
                                            width: 100%;

                                            a {
                                                width: 100%;
                                                font-size: 14px;
                                                padding: 10px 15px;
                                                font-weight: 400;
                                                color: $black2;
                                                text-transform: capitalize;
                                                transition: 300ms all ease-in;
                                                @include flex(center, space-between);

                                                i {
                                                    padding: 0;
                                                }
                                            }

                                            :hover {
                                                color: $mainColor;
                                            }
                                        }
                                    }
                                }

                                .pages {
                                    width: 80%;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    margin: auto;
                                    padding: 20px;
                                    @include flex(flex-start, space-between);

                                    ul {
                                        @include flex();

                                        li {
                                            margin-top: 8px;

                                            a {
                                                text-align: start;
                                                text-transform: capitalize;
                                                font-size: 14px;
                                                font-weight: 400;
                                                color: $black2;
                                                padding: 10px 15px;
                                            }
                                        }

                                        .title {
                                            a {
                                                font-size: 16px;
                                                font-weight: 500;
                                                color: $black;
                                            }
                                        }
                                    }
                                }
                            }

                            :hover {
                                color: $mainColor;

                                .dropdown {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translateY(0);
                                }
                            }

                            > :first-child {
                                a {
                                    color: $mainColor;
                                }
                            }
                        }
                    }

                    @media (max-width:1007px) {
                        display: none;
                    }
                }

                .search {
                    @include flex();

                    ul {
                        @include flex();
                        padding: 0;
                        margin: 0;

                        li {
                            padding: 0 25px 0 0;
                            position: static;

                            button {
                                border: 0;
                                background-color: transparent;
                                color: $black;
                                transition: 300ms all ease-in;

                                i {
                                    font-size: 20px;
                                    font-weight: 600;
                                }

                                span {
                                    background-color: $mainColor;
                                    color: #fff;
                                    width: 18px;
                                    height: 18px;
                                    text-align: center;
                                    border-radius: 50%;
                                    padding: 4px;
                                    position: absolute;
                                    margin-top: -10px;
                                    font-size: 10px;
                                }

                                &:hover {
                                    color: $mainColor;
                                }
                            }

                            .dropdown {
                                width: 150px;
                                position: absolute;
                                padding: 20px;
                                border: 1px solid $borderColor;
                                z-index: 1000;
                                background-color: #fff;
                                margin-left: -130px;
                                opacity: 0;
                                visibility: hidden;
                                transition: 300ms all ease-in;
                                transform: translateY(20px);

                                ul {
                                    display: block;

                                    li {
                                        a {
                                            text-decoration: none;
                                            color: $black2;
                                            text-transform: capitalize;
                                            font-size: 13px;
                                            padding: 8px 0;
                                        }
                                    }
                                }
                            }
                        }

                        .setting {
                            &:hover {
                                .dropdown {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translateY(0);
                                }
                            }
                        }

                        @media (max-width:1007px) {

                            > :nth-child(1),
                            :nth-child(2) {
                                display: none;
                            }
                        }
                    }

                    .menu-bar {
                        display: none;

                        button {
                            border: 0;
                            background-color: transparent;
                            color: $black;
                        }

                        i {
                            font-size: 20px;
                        }
                    }

                    @media (max-width:1007px) {
                        .menu-bar {
                            display: block;
                        }
                    }
                }

            }

            @media (max-width:1007px) {
                padding: 10px 0;
            }

        }

        .wrapper-activ {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: 90;
            opacity: 1;
            visibility: visible;
            background-color: #fff;
            box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
            transition: 300ms all ease-in;
        }

        .wrapper-hide {
            opacity: 0;
            visibility: hidden;
        }

        #menu-bar {
            position: fixed;
            top: 0;
            z-index: 9999;
            width: 0;
            height: 100vh;
            background-color: #fff;
            padding: 20px;
            opacity: 0;
            visibility: hidden;
            transition: 300ms all ease-in;
            filter: brightness(1) !important;

            .cancel {
                position: absolute;
                top: 0;
                right: -40px;

                button {
                    width: 40px;
                    height: 40px;
                    background-color: $mainColor;
                    border: 0;
                    color: #fff;

                    i {
                        transition: 300ms all ease-in;
                    }

                    &:hover {
                        i {
                            transform: rotate(90deg);
                        }
                    }
                }
            }

            .menu-bar-wrapper {
                .search {
                    position: relative;

                    input {
                        border: 0;
                        background-color: $inputColor;
                        width: 100%;
                        height: 40px;
                        padding: 0 40px 0 10px;
                        font-size: 13px;
                        color: #666;
                        outline: none;
                        // filter: brightness(0.8);
                    }

                    button {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 40px;
                        width: 40px;
                        border: 0;
                    }
                }

                .links {
                    border-bottom: 1px solid $black2;
                    overflow: scroll;
                    max-height: 250px;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    // > ul{
                    //     padding: 30px 10px 0 0;
                    //     overflow: auto;
                    //     > li{
                    //         padding: 10px 0;
                    //         > div{
                    //             @include flex(center, space-between);
                    //             > a{
                    //                 text-decoration: none;
                    //                 color: $black;
                    //                 font-size: 15px;
                    //                 transition: 300ms all  ease-in;
                    //             }
                    //             > button{
                    //                 position: relative;
                    //                 border: 0;
                    //                 background-color: transparent;
                    //                 > span{
                    //                     position: absolute;
                    //                     right: 0;
                    //                     width: 10px;
                    //                     height: 1px;
                    //                     background-color: black;
                    //                     transition: 300ms all  ease-in;
                    //                 }
                    //                 > .first{
                    //                     transform: rotate(90deg);
                    //                     transition: 300ms all ease-in;
                    //                 }
                    //                 .minus{
                    //                     transform: rotate(0);
                    //                 }
                    //             }
                    //             &:hover{
                    //                 a{
                    //                     color: $mainColor;
                    //                 }
                    //                 button{
                    //                     span{
                    //                         background-color: $mainColor;
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //         > .cus-dropdown{
                    //             height: 0;
                    //             opacity: 0;
                    //             visibility: hidden;
                    //             transition: 300ms all linear;
                    //             ul{
                    //                 margin: 0;
                    //                 padding: 0;
                    //                 li{
                    //                     padding: 8px 0 8px 15px;
                    //                     a{
                    //                         text-decoration: none;
                    //                         color: $black;
                    //                         text-transform: capitalize;
                    //                         font-size: 14px;
                    //                         transition: 300ms all ease-in;
                    //                         &:hover{
                    //                             color: $mainColor;
                    //                         }
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //         .cus-dropdown-activ{
                    //             height: 100%;
                    //             opacity: 1;
                    //             visibility: visible;
                    //             transition: 300ms all linear;
                    //         }
                    //     }
                    // }
                    .accordion {
                        padding: 30px 0 15px 0;
                        // overflow: scroll;

                        .accordion-item {
                            border: 0;

                            h2 {
                                border-color: transparent;

                                button {
                                    padding: 10px 0;
                                    background-color: transparent;
                                    color: $black;
                                    border: 0;
                                }

                                >a {
                                    text-decoration: none;
                                    color: $black;
                                    font-size: 16px;
                                }
                            }

                            >.accordion-collapse {
                                >.accordion-body {
                                    ul {
                                        padding: 0;

                                        li {
                                            margin-bottom: 10px;

                                            a {
                                                text-decoration: none;
                                                color: $black;
                                                width: 100%;
                                                @include flex(center, space-between);
                                            }
                                        }

                                        >li {
                                            padding: 10px 0;

                                            >div {
                                                @include flex(center, space-between);

                                                >a {
                                                    text-decoration: none;
                                                    color: $black;
                                                    font-size: 15px;
                                                    transition: 300ms all ease-in;
                                                }

                                                >button {
                                                    position: relative;
                                                    border: 0;
                                                    background-color: transparent;

                                                    >span {
                                                        position: absolute;
                                                        right: 0;
                                                        width: 10px;
                                                        height: 1px;
                                                        background-color: black;
                                                        transition: 300ms all ease-in;
                                                    }

                                                    >.first {
                                                        transform: rotate(90deg);
                                                        transition: 300ms all ease-in;
                                                    }

                                                    .minus {
                                                        transform: rotate(0);
                                                    }
                                                }

                                                &:hover {
                                                    a {
                                                        color: $mainColor;
                                                    }

                                                    button {
                                                        span {
                                                            background-color: $mainColor;
                                                        }
                                                    }
                                                }
                                            }

                                            >.cus-dropdown {
                                                height: 0;
                                                opacity: 0;
                                                visibility: hidden;
                                                transition: 300ms all linear;

                                                ul {
                                                    margin: 0;
                                                    padding: 0;

                                                    li {
                                                        padding: 8px 0 8px 15px;

                                                        a {
                                                            text-decoration: none;
                                                            color: $black;
                                                            text-transform: capitalize;
                                                            font-size: 14px;
                                                            transition: 300ms all ease-in;

                                                            &:hover {
                                                                color: $mainColor;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .cus-dropdown-activ {
                                                height: 100%;
                                                opacity: 1;
                                                visibility: visible;
                                                transition: 300ms all linear;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .accordion-button:not(.collapsed)::after {
                        background-image: url("data:image/svg+xml,...");
                        font-family: 'FontAwesome';
                        content: "\f068";
                    }

                    .accordion-button::after {
                        background-image: url("data:image/svg+xml,...");
                        font-family: 'FontAwesome';
                        content: "\f067";

                    }

                    .accordion-button:focus {
                        box-shadow: none;
                        border-color: rgba(0, 0, 0, .125);
                    }
                }

                .account {
                    ul {
                        padding: 15px 0 0 0;

                        li {
                            a {
                                text-decoration: none;
                                font-size: 14px;
                                text-transform: capitalize;
                                color: $black2;
                                transition: 300ms all ease-in;

                                i {
                                    font-size: 12px;
                                }
                            }

                            > :hover {
                                color: $mainColor;
                            }
                        }
                    }
                }
            }

            @media (max-width:640px) {
                width: 260px;
            }
        }
    }
}