@import "sections/header.scss";
@import "sections/footer.scss";
@import "assets/mixin.scss";
@import "assets/colors.scss";
@import "sections/products.scss";

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-weight: 400;
}

.custom-container {
    max-width: 80%;
    margin: 0 auto;
}

main {
    #first {
        .wrapper {
            background-image: url("https://htmldemo.net/juan/juan/assets/img/banner/breadcrumb-banner.jpg");

            .custom-container {
                .cus-title {
                    @include flex(center, center, column);
                    padding: 55px 0 60px 0;

                    h1 {
                        font-size: 24px;
                        padding: 0 0 15px 0;
                        text-transform: uppercase;
                        font-weight: 600;
                        color: $black;
                    }

                    .links {
                        @include flex();
                        gap: 10px;

                        a {
                            font-size: 16px;
                            color: $black;
                            text-decoration: none;
                            transition: 300ms all ease-in;

                            &:hover {
                                color: $mainColor;
                            }
                        }

                        p {
                            font-size: 16px;
                            color: $mainColor;
                        }
                    }
                }
            }
        }
    }

    #second {
        .wrapper {
            padding: 80px 0;

            .custom-container {
                .row {
                    .col-lg-5 {
                        figure.zoom {
                            border: 1px solid $borderColor;
                            background-position: 50% 50%;
                            position: relative;
                            width: 100%;
                            overflow: hidden;
                            cursor: pointer;
                            background-image: url("https://htmldemo.net/juan/juan/assets/img/product/product-details-img1.jpg");

                            img {
                                transition: opacity .5s;
                                display: block;
                                width: 100%;

                                &:hover {
                                    opacity: 0;
                                }
                            }

                        }

                        .images-lists {
                            width: 100%;
                            @include flex();
                            gap: 10px;

                            .img {
                                width: 25%;
                                border: 1px solid $borderColor;

                                img {
                                    width: 100%;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .col-lg-7 {
                        .product-title {
                            h3 {
                                font-size: 24px;
                                font-weight: 500;
                                padding: 0 0 10px 0;
                                margin: 0;
                                color: $black;

                                @media (max-width:640px) {
                                    font-size: 20px;
                                }
                            }
                        }

                        .product-review {
                            a {
                                font-size: 14px;
                                color: $mainColor;
                                text-decoration: none;
                            }
                        }

                        .product-price {
                            padding: 10px 0 0 0;

                            span {
                                font-size: 18px;
                                color: $black;
                                font-weight: 500;
                            }

                            del {
                                font-size: 18px;
                                color: $black;
                                font-weight: 500;
                            }
                        }

                        .product-desc {
                            p {
                                padding: 15px 0 20px;
                                font-size: 16pz;
                                color: $black2;
                            }
                        }

                        .product-quantity-box {
                            @include flex();
                            margin-bottom: 20px;
                            gap: 30px;

                            .quantity {
                                width: 90px;
                                height: 46px;
                                padding: 0 15px;
                                border: 1px solid #ddd;
                                @include flex(center, space-between);

                                span {
                                    font-size: 22px;
                                    color: $black2;
                                }

                                #minus,
                                #plus {
                                    cursor: pointer;
                                }
                            }

                            a {
                                @include flex(center, center);
                                text-decoration: none;
                                color: $mainColor;
                                font-size: 16px;
                                text-transform: uppercase;
                                font-weight: 400;
                                padding: 11px 25px;
                                background-color: $black;
                                transition: 300ms all ease-in;

                                &:hover {
                                    background-color: $mainColor;
                                    color: white;
                                }
                            }
                        }

                        .availability {
                            @include flex();
                            margin-bottom: 20px;

                            h5 {
                                font-weight: 500;
                                color: $black;
                                font-size: 14px;
                                margin: 0 10px 0 0;
                            }

                            span {
                                font-size: 14px;
                                color: #22dd77;
                                padding-left: 3px;
                            }
                        }

                        .share-icons {
                            @include flex(center);

                            h5 {
                                font-size: 14px;
                                color: $black;
                                font-weight: 500;
                                margin: 0 10px 0 0;
                            }

                            a {
                                width: 36px;
                                height: 36px;
                                @include flex(center, center);
                                text-decoration: none;
                                color: $black2;
                                padding: 0 8px;
                                border: 1px solid $borderColor;
                                margin: 0 6px 0 0;
                                transition: 300ms all ease-in;

                                &:hover {
                                    background-color: $mainColor;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #third {
        .wrapper {
            padding: 80px 0 0 0;

            .custom-container {
                .cus-title {
                    ul {
                        @include flex();
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        flex-wrap: wrap;

                        li {
                            padding: 8px 10px;
                            font-size: 15px;
                            text-transform: uppercase;
                            font-weight: 600;
                            border: 1px solid $borderColor;
                            background-color: #979898;
                            color: #fff;
                            cursor: pointer;
                            transition: 300ms all ease-in;

                            @media (max-width:640px) {
                                font-size: 12px;
                            }
                        }

                        .activ-links {
                            background-color: #fff;
                            color: $black2;
                        }
                    }
                }

                .description {
                    // opacity: 0;
                    // visibility: hidden;
                    display: none;
                    border: 1px solid $borderColor;
                    padding: 15px 20px 20px;

                    p {
                        font-size: 16px;
                        color: $black2;
                        // margin: 0;
                    }

                    .product-info {
                        @include flex();
                        padding: 9px 0 25px 0;

                        .image {
                            // width: 100px;
                            // height: 210px;

                            img {
                                width: 300px;
                                height: 210px;
                                @media (max-width:369px) {
                                    width: 200px !important;
                                    height: 145px;
                                }
                                @media (min-width:370px) {
                                    width: 280px !important;
                                    height: 210px;
                                }
                            }

                            // @media (max-width:380px) {
                            //     width: 240px;
                            //     height: 210px;

                            //     img {
                            //         width: 100%;
                            //         height: 100%;
                            //     }
                            // }
                        }

                        .info {
                            padding: 0 0 0 40px;

                            .info-desc {
                                h3 {
                                    font-size: 20px;
                                    color: $mainColor;
                                    padding: 0 0 10px;
                                }

                                ul {
                                    padding: 0;

                                    li {
                                        padding: 3px 0;
                                        color: $black2;
                                        font-size: 16px;
                                    }
                                }
                            }
                        }

                        @media (max-width:640px) {
                            display: block;
                            padding: 0;

                            .info {
                                padding: 30px 0 0 20px;
                            }

                            .image {
                                width: 260px;
                            }
                        }
                    }
                }

                .information {
                    // opacity: 0;
                    // visibility: hidden;
                    display: none;
                    border: 1px solid $borderColor;
                    padding: 15px 20px 20px;

                    table {
                        border-collapse: collapse;
                        width: 100%;

                        tbody {
                            tr {
                                td {
                                    border: 1px solid $borderColor;
                                    padding: 12px;
                                    font-size: 16px;
                                    color: $black2;
                                }
                            }
                        }
                    }
                }

                .reviews {
                    // opacity: 0;
                    // visibility: hidden;
                    display: none;
                    border: 1px solid $borderColor;
                    padding: 15px 20px 20px;

                    .cus-title {
                        padding: 0 0 20px 0;
                        @include flex();
                        gap: 5px;

                        h5 {
                            font-size: 18px;
                            color: $black;

                            @media (max-width:640px) {
                                font-size: 14px;
                            }
                        }

                        span {
                            color: $mainColor;
                            font-size: 18px;

                            @media (max-width:640px) {
                                font-size: 14px;
                            }
                        }
                    }

                    .total-review {
                        @include flex();
                        padding: 0 0 50px;

                        .review-avatar {
                            img {
                                width: 60px;
                                height: 60px;
                            }
                        }

                        .review-box {
                            margin: 0 0 0 10px;
                            border: 1px solid $borderColor;
                            padding: 10px;

                            .star {
                                gap: 5px;
                                color: $mainColor;

                                i {
                                    font-size: 13px;
                                }
                            }

                            .post-author {
                                padding: 0 0 10px;

                                p {
                                    font-size: 12px;
                                    color: $black2;
                                    font-style: italic;

                                    span {
                                        font-size: 13px;
                                        color: $black2;
                                        text-transform: capitalize;
                                    }
                                }
                            }

                            p {
                                font-size: 13px;
                                color: $black2;
                                font-style: italic;
                                margin: 0;
                            }
                        }
                    }

                    .form-group {
                        margin-bottom: 16px;

                        .col {
                            @include flex(null, null, column);

                            label {
                                text-transform: capitalize;
                                font-size: 16px;
                                padding: 7px 0;
                                color: $black2;

                                span {
                                    color: red;
                                }
                            }

                            input {
                                padding: 6px 12px;
                                border-radius: 5px;
                                border: 1px solid $borderColor;
                                outline: 1px solid $borderColor;
                            }

                            textarea {
                                border-radius: 5px;
                                padding: 6px 12px;
                                border: 1px solid $borderColor;
                                outline: 1px solid $borderColor;
                            }

                            p {
                                font-size: 16px;
                                color: $black2;

                                span {
                                    color: red;
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .radio {
                        .col {
                            @include flex(center, null, row);

                            label {
                                padding: 7px 0;
                                font-size: 16px;
                                color: $black2;

                                span {
                                    color: red;
                                }

                                @media (max-width:640px) {
                                    font-size: 14px;
                                }
                            }

                            .bad {
                                text-transform: capitalize;
                                margin-left: 20px;
                            }

                            input {
                                margin-left: 5px;
                            }

                            .good {
                                text-transform: capitalize;
                                margin-left: 10px;
                            }
                        }
                    }

                    button {
                        border: 0;
                        background-color: transparent;
                        color: $black;
                        font-size: 16px;
                        text-transform: capitalize;
                    }
                }

                .activ {
                    // opacity: 1;
                    // visibility: visible;
                    display: block;
                }
            }
        }
    }

    #products {
        .wrapper {
            padding: 80px 0;
        }
    }
}

.modal {

    // transform: translateY(-500px);
    // transition: 100ms all ease-in;
    .modal-dialog {
        .modal-content {
            .custom-container {
                padding: 20px;
                margin: 0;

                .row {
                    .col-lg-5 {
                        figure.zoom {
                            border: 1px solid $borderColor;
                            background-position: 50% 50%;
                            position: relative;
                            overflow: hidden;
                            cursor: pointer;
                            background-image: url("https://htmldemo.net/juan/juan/assets/img/product/product-details-img1.jpg");

                            img {
                                transition: opacity .5s;
                                display: block;
                                width: 100%;

                                &:hover {
                                    opacity: 0;
                                }
                            }

                        }

                        .images-lists {
                            width: 100%;
                            @include flex();
                            gap: 10px;

                            .img {
                                width: 25%;
                                border: 1px solid $borderColor;

                                img {
                                    width: 100%;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .col-lg-7 {
                        .product-title {
                            h3 {
                                font-size: 24px;
                                font-weight: 500;
                                padding: 0 0 10px 0;
                                margin: 0;
                                color: $black;

                                @media (max-width:640px) {
                                    font-size: 20px;
                                }
                            }
                        }

                        .product-review {
                            a {
                                font-size: 14px;
                                color: $mainColor;
                                text-decoration: none;
                            }
                        }

                        .product-price {
                            padding: 10px 0 0 0;

                            span {
                                font-size: 18px;
                                color: $black;
                                font-weight: 500;
                            }

                            del {
                                font-size: 18px;
                                color: $black;
                                font-weight: 500;
                            }
                        }

                        .product-desc {
                            p {
                                padding: 15px 0 20px;
                                font-size: 16pz;
                                color: $black2;
                            }
                        }

                        .product-quantity-box {
                            @include flex();
                            margin-bottom: 20px;
                            gap: 30px;

                            .quantity {
                                width: 90px;
                                height: 46px;
                                padding: 0 15px;
                                border: 1px solid #ddd;
                                @include flex(center, space-between);

                                span {
                                    font-size: 22px;
                                    color: $black2;
                                }

                                #minus,
                                #plus {
                                    cursor: pointer;
                                }
                            }

                            a {
                                @include flex(center, center);
                                text-decoration: none;
                                color: $mainColor;
                                font-size: 16px;
                                text-transform: uppercase;
                                font-weight: 400;
                                padding: 11px 25px;
                                background-color: $black;
                                transition: 300ms all ease-in;

                                &:hover {
                                    background-color: $mainColor;
                                    color: white;
                                }
                            }
                        }

                        .availability {
                            @include flex();
                            margin-bottom: 20px;

                            h5 {
                                font-weight: 500;
                                color: $black;
                                font-size: 14px;
                                margin: 0 10px 0 0;
                            }

                            span {
                                font-size: 14px;
                                color: #22dd77;
                                padding-left: 3px;
                            }
                        }

                        .share-icons {
                            @include flex(center);

                            h5 {
                                font-size: 14px;
                                color: $black;
                                font-weight: 500;
                                margin: 0 10px 0 0;
                            }

                            a {
                                width: 36px;
                                height: 36px;
                                @include flex(center, center);
                                text-decoration: none;
                                color: $black2;
                                padding: 0 8px;
                                border: 1px solid $borderColor;
                                margin: 0 6px 0 0;
                                transition: 300ms all ease-in;

                                &:hover {
                                    background-color: $mainColor;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}