header #first .wrapper {
  background-color: #e3a51e; }
  header #first .wrapper .custom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0; }
    header #first .wrapper .custom-container div p {
      font-size: 14px;
      color: #fff;
      line-height: 1;
      margin: 0; }
    header #first .wrapper .custom-container div ul {
      display: flex;
      margin: 0; }
      header #first .wrapper .custom-container div ul li {
        padding: 0 0 0 20px; }
        header #first .wrapper .custom-container div ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 14px; }
          header #first .wrapper .custom-container div ul li a i {
            margin-left: 2px; }
      header #first .wrapper .custom-container div ul > :first-child {
        border-right: 1px solid #fff;
        padding: 0 20px 0 0;
        position: relative; }
        header #first .wrapper .custom-container div ul > :first-child .dropdown {
          transition: 300ms all linear;
          opacity: 0;
          visibility: hidden;
          background-color: #fff;
          width: 150px;
          height: 97.2px;
          border: 1px solid #e5e5e5;
          position: absolute;
          right: 15px;
          transform: translateY(20px);
          z-index: 1; }
          header #first .wrapper .custom-container div ul > :first-child .dropdown ul {
            display: block;
            padding: 0;
            padding: 15px 15px 20px; }
            header #first .wrapper .custom-container div ul > :first-child .dropdown ul li {
              border: 0;
              padding: 0; }
              header #first .wrapper .custom-container div ul > :first-child .dropdown ul li a {
                color: #666666;
                font-size: 13px;
                transition: 300ms all ease-in; }
              header #first .wrapper .custom-container div ul > :first-child .dropdown ul li :hover {
                color: #e3a51e; }
      header #first .wrapper .custom-container div ul :hover .dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); }
      header #first .wrapper .custom-container div ul > :last-child .dropdown {
        transition: 300ms all linear;
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        width: 150px;
        height: 97.2px;
        border: 1px solid #e5e5e5;
        position: absolute;
        right: 165px;
        transform: translateY(20px);
        z-index: 1; }
        header #first .wrapper .custom-container div ul > :last-child .dropdown ul {
          display: block;
          padding: 0;
          padding: 15px 15px 20px; }
          header #first .wrapper .custom-container div ul > :last-child .dropdown ul li {
            border: 0;
            padding: 0; }
            header #first .wrapper .custom-container div ul > :last-child .dropdown ul li a {
              color: #666666;
              font-size: 13px;
              transition: 300ms all ease-in; }
            header #first .wrapper .custom-container div ul > :last-child .dropdown ul li :hover {
              color: #e3a51e; }
      header #first .wrapper .custom-container div ul :hover .dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); }

header #second .wrapper .custom-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header #second .wrapper .custom-container .navication nav ul {
    display: flex;
    align-items: center;
    margin-bottom: 0; }
    header #second .wrapper .custom-container .navication nav ul li {
      margin-left: 20px;
      position: relative; }
      header #second .wrapper .custom-container .navication nav ul li a {
        text-decoration: none;
        color: #333333;
        font-size: 16px;
        font-weight: 500;
        transition: 300ms all ease-in; }
        header #second .wrapper .custom-container .navication nav ul li a i {
          font-size: 12px;
          text-align: center;
          margin-left: 5px;
          padding: 52px 0; }
      header #second .wrapper .custom-container .navication nav ul li .dropdown {
        padding: 30px 70px 30px 0;
        width: max-content;
        position: absolute;
        border: 1px solid #e5e5e5;
        display: flex;
        align-items: center;
        justify-content: start;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: 300ms all ease-in;
        transform: translateY(20px); }
        header #second .wrapper .custom-container .navication nav ul li .dropdown ul {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          padding: 0; }
          header #second .wrapper .custom-container .navication nav ul li .dropdown ul li {
            margin: 0; }
            header #second .wrapper .custom-container .navication nav ul li .dropdown ul li a {
              font-size: 14px;
              padding: 10px 15px;
              font-weight: 400;
              color: #666666;
              transition: 300ms all ease-in; }
            header #second .wrapper .custom-container .navication nav ul li .dropdown ul li :hover {
              color: #e3a51e; }
      header #second .wrapper .custom-container .navication nav ul li .pages {
        width: 1200px;
        position: absolute;
        left: -460px;
        display: flex;
        justify-content: space-between; }
        header #second .wrapper .custom-container .navication nav ul li .pages ul {
          display: flex; }
          header #second .wrapper .custom-container .navication nav ul li .pages ul li a {
            text-align: start;
            text-transform: capitalize; }
    header #second .wrapper .custom-container .navication nav ul :hover {
      color: #e3a51e; }
      header #second .wrapper .custom-container .navication nav ul :hover .dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); }
    header #second .wrapper .custom-container .navication nav ul > :first-child a {
      color: #e3a51e; }
  header #second .wrapper .custom-container .search button {
    border: 0;
    background-color: transparent;
    padding: 0 0 0 25px;
    color: #333333;
    position: relative; }
    header #second .wrapper .custom-container .search button i {
      font-size: 20px;
      font-weight: 600; }
    header #second .wrapper .custom-container .search button span {
      background-color: #e3a51e;
      color: #fff;
      width: 18px;
      height: 18px;
      text-align: center;
      border-radius: 50%;
      padding: 4px;
      position: absolute;
      top: -10px;
      right: -10px;
      font-size: 10px; }
