main #products .wrapper {
  padding: 80px 0 0 0; }
  main #products .wrapper .custom-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 42px 0; }
    main #products .wrapper .custom-container .title div h2 {
      text-align: center;
      font-size: 30px;
      line-height: 1.2;
      padding-bottom: 12px;
      color: #333333; }
    main #products .wrapper .custom-container .title div p {
      text-align: center;
      font-size: 18px;
      margin: 0;
      color: #666666; }
  main #products .wrapper .custom-container .row .owl-carousel {
    position: relative; }
    main #products .wrapper .custom-container .row .owl-carousel .item {
      padding: 0 0 30px 0; }
      main #products .wrapper .custom-container .row .owl-carousel .item .card {
        position: relative;
        z-index: 1;
        transition: 400ms all linear; }
        main #products .wrapper .custom-container .row .owl-carousel .item .card .image {
          overflow: hidden; }
          main #products .wrapper .custom-container .row .owl-carousel .item .card .image img {
            overflow: hidden;
            transition: 400ms all linear; }
        main #products .wrapper .custom-container .row .owl-carousel .item .card .title {
          padding: 0 0 12px 0; }
          main #products .wrapper .custom-container .row .owl-carousel .item .card .title p {
            font-size: 18px;
            color: #333333;
            font-weight: 500;
            margin-bottom: 0; }
        main #products .wrapper .custom-container .row .owl-carousel .item .card .price {
          width: 100%;
          text-align: center;
          padding: 0 0 40px 0; }
          main #products .wrapper .custom-container .row .owl-carousel .item .card .price span {
            font-size: 18px;
            color: #333333; }
          main #products .wrapper .custom-container .row .owl-carousel .item .card .price del {
            font-size: 16px;
            color: #333333; }
        main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul {
          padding: 0;
          margin: 0;
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 15px;
          position: absolute;
          bottom: -23px;
          left: 0;
          z-index: 999999; }
          main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul li {
            transition: 400ms all linear; }
            main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul li .tooltip {
              opacity: 0;
              position: absolute;
              top: -42px;
              right: -21px;
              background-color: #333333;
              color: white;
              font-size: 14px;
              border-radius: 5px;
              width: max-content;
              transform: translateY(15px);
              transition: 300ms all ease-in; }
              main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul li .tooltip i {
                position: absolute;
                bottom: -12px;
                font-size: 20px;
                left: 40%;
                color: #333333; }
            main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul li .wishlist {
              top: -42px;
              right: -8px; }
            main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul li button {
              width: 46px;
              height: 46px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              line-height: 46px;
              background-color: #fff;
              border: 1px solid #e3a51e;
              color: #e3a51e;
              transition: 300ms all ease-in; }
            main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul li:hover button {
              background-color: #e3a51e;
              color: #fff; }
            main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul li:hover .tooltip {
              opacity: 1;
              transform: translateY(0); }
          main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul > :nth-child(1) {
            transform: translateX(66px);
            opacity: 0; }
          main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul > :nth-child(2) {
            position: relative;
            z-index: 1; }
          main #products .wrapper .custom-container .row .owl-carousel .item .card .product-action ul > :nth-child(3) {
            transform: translateX(-66px);
            opacity: 0; }
      main #products .wrapper .custom-container .row .owl-carousel .item > :hover {
        border: 1px solid #e3a51e; }
        main #products .wrapper .custom-container .row .owl-carousel .item > :hover .product-action ul > :nth-child(1) {
          transform: translateX(0);
          opacity: 1; }
        main #products .wrapper .custom-container .row .owl-carousel .item > :hover .product-action ul > :nth-child(3) {
          transform: translateX(0);
          opacity: 1; }
        main #products .wrapper .custom-container .row .owl-carousel .item > :hover .image img {
          transform: scale(1.15);
          overflow: hidden; }
    main #products .wrapper .custom-container .row .owl-carousel .owl-nav {
      position: absolute;
      width: 98%;
      top: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0;
      transition: 300ms all ease-in; }
      main #products .wrapper .custom-container .row .owl-carousel .owl-nav .owl-prev {
        width: 46px;
        height: 46px;
        background-color: #f5f5f5;
        color: #333333;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 300ms all ease-in;
        margin-left: 15px; }
        main #products .wrapper .custom-container .row .owl-carousel .owl-nav .owl-prev span {
          font-size: 40px; }
        main #products .wrapper .custom-container .row .owl-carousel .owl-nav .owl-prev:hover {
          background-color: #e3a51e;
          color: #fff; }
      main #products .wrapper .custom-container .row .owl-carousel .owl-nav .owl-next {
        width: 46px;
        height: 46px;
        background-color: #f5f5f5;
        color: #333333;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 300ms all ease-in;
        margin-right: 15px; }
        main #products .wrapper .custom-container .row .owl-carousel .owl-nav .owl-next span {
          font-size: 40px; }
        main #products .wrapper .custom-container .row .owl-carousel .owl-nav .owl-next:hover {
          background-color: #e3a51e;
          color: #fff; }
    main #products .wrapper .custom-container .row .owl-carousel .owl-dots {
      display: none; }
    main #products .wrapper .custom-container .row .owl-carousel:hover .owl-nav {
      opacity: 1; }
  main #products .wrapper .custom-container .discount {
    width: 100%;
    padding: 80px 0 0 0; }
    main #products .wrapper .custom-container .discount .custom-row {
      display: flex;
      width: 100%; }
      main #products .wrapper .custom-container .discount .custom-row .cus-col {
        width: 50%; }
        main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper {
          position: relative;
          width: 100%;
          padding: 0;
          transition: 300ms all linear; }
          main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper .image {
            overflow: hidden; }
            main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper .image img {
              width: 100%;
              transition: 300ms all linear; }
          main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper .desc {
            position: absolute;
            top: 40%;
            left: 8%; }
            main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper .desc .title {
              padding: 0;
              margin: 0;
              display: flex;
              justify-content: start; }
              main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper .desc .title h4 {
                font-size: 18px;
                font-weight: 500;
                padding-bottom: 14px;
                color: #fff; }
            main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper .desc .about p {
              font-size: 30px;
              font-weight: 600;
              color: #fff;
              line-height: 1.4; }
          main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper:hover {
            filter: brightness(0.8); }
            main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper:hover .image img {
              transform: scale(1.1); }
      @media (max-width: 640px) {
        main #products .wrapper .custom-container .discount .custom-row {
          display: block; }
          main #products .wrapper .custom-container .discount .custom-row .cus-col {
            width: 100%; } }
      @media (max-width: 1007px) {
        main #products .wrapper .custom-container .discount .custom-row .cus-col {
          padding: 0 0 30px 0; }
          main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper .desc {
            top: 30%; }
            main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper .desc .title h4 {
              font-size: 16px;
              font-weight: 400;
              padding-bottom: 8px; }
            main #products .wrapper .custom-container .discount .custom-row .cus-col .wrapper .desc .about p {
              font-size: 20px; } }
